*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
header{
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: 70px;
    text-align: center;
}
header > h1{
    color: rgb(255, 255, 255);
    line-height: 70px;
}