main {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  width: 60%;
  margin: 20px auto;
  padding: 0 0 20px;
  overflow: hidden;
}

.choiceDifficult {
  text-align: center;
  margin: 20px auto;
}

.cards-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.card {
  width: 100%;
  aspect-ratio: 1; /* 1:1 */
  border-radius: 30px;
  display: flex;
  justify-content: center; /* change emoji's x axis*/
  align-items: center; /* change emoji's y axis*/
  background-color: rgb(175, 175, 175);
  font-size: 5cqw;
  transform-style: preserve-3d; /* 设置3D卡牌旋转可见 */
  transition: background-color 0.5s ease, transform 0.7s; /* CSS过渡效果 */
}

.card-back {
  backface-visibility: hidden; /*設置cardback為隱藏，否則一樣内容*/
  transform: rotateY(180deg);  /*默認反轉卡牌*/
}

.flipped {
  transform: rotateY(180deg);  /*反轉卡牌*/
  opacity: 1;
  background-color: orange;
}

.matched {
  background-color: greenyellow;
}

button{
  height: 50px;
  font-size: 20px;
  line-height: 25px;
  background-color: #fcfcfc;
  border: 0;
  border-radius: 30px;
  color: #303030;
  padding: 0 20px;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 2px 5px rgb(230, 230, 230);
  cursor: pointer;
}

button:hover {
  background-color: #303030;
  color: #ffffff;
}