.guide{
    width: 60%;
    margin: auto;
}

footer h1{
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    font-size: medium;
    margin: 20px 0;
}

footer h2{
    margin: 20px 0;
}

footer li{
    margin-left: 50px;
}

.aboutus{
    width: 60%;
    margin: auto;
}
.aboutus span{
    margin: 20px 0;
}

